In [151]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, chi2, f_classif
from sklearn.preprocessing import StandardScaler

In [40]:
data = pd.read_csv('train.csv')

In [41]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
battery_power    2000 non-null int64
blue             2000 non-null int64
clock_speed      2000 non-null float64
dual_sim         2000 non-null int64
fc               2000 non-null int64
four_g           2000 non-null int64
int_memory       2000 non-null int64
m_dep            2000 non-null float64
mobile_wt        2000 non-null int64
n_cores          2000 non-null int64
pc               2000 non-null int64
px_height        2000 non-null int64
px_width         2000 non-null int64
ram              2000 non-null int64
sc_h             2000 non-null int64
sc_w             2000 non-null int64
talk_time        2000 non-null int64
three_g          2000 non-null int64
touch_screen     2000 non-null int64
wifi             2000 non-null int64
price_range      2000 non-null int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [43]:
data[['blue', 'dual_sim', 'four_g', 'three_g','touch_screen', 'wifi']] = data[['blue', 'dual_sim', 'four_g','three_g', 'touch_screen', 'wifi']].astype('bool')

In [44]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,False,2.2,False,1,False,7,0.6,188,2,...,20,756,2549,9,7,19,False,False,True,1
1,1021,True,0.5,True,0,True,53,0.7,136,3,...,905,1988,2631,17,3,7,True,True,False,2
2,563,True,0.5,True,2,True,41,0.9,145,5,...,1263,1716,2603,11,2,9,True,True,False,2
3,615,True,2.5,False,0,False,10,0.8,131,6,...,1216,1786,2769,16,8,11,True,False,False,2
4,1821,True,1.2,False,13,True,44,0.6,141,2,...,1208,1212,1411,8,2,15,True,True,False,1

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
battery_power    2000 non-null int64
blue             2000 non-null bool
clock_speed      2000 non-null float64
dual_sim         2000 non-null bool
fc               2000 non-null int64
four_g           2000 non-null bool
int_memory       2000 non-null int64
m_dep            2000 non-null float64
mobile_wt        2000 non-null int64
n_cores          2000 non-null int64
pc               2000 non-null int64
px_height        2000 non-null int64
px_width         2000 non-null int64
ram              2000 non-null int64
sc_h             2000 non-null int64
sc_w             2000 non-null int64
talk_time        2000 non-null int64
three_g          2000 non-null bool
touch_screen     2000 non-null bool
wifi             2000 non-null bool
price_range      2000 non-null int64
dtypes: bool(6), float64(2), int64(13)
memory usage: 246.2 KB

In [133]:
x = data.iloc[:,:20]
y = data.iloc[:,-1:]

In [134]:
x.head()
x.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [135]:
y.head()

   price_range
0            1
1            2
2            2
3            2
4            1

In [136]:
newdf = list(x.select_dtypes(include=[np.number]))
newdf

['battery_power',
 'clock_speed',
 'fc',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time']

In [137]:
scaler = StandardScaler()
x[['battery_power', 'clock_speed',  'fc',  'int_memory',  'm_dep',  'mobile_wt', 
   'n_cores',  'pc',  'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time']]= scaler.fit_transform(x[['battery_power',
 'clock_speed',
 'fc',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time']])

In [138]:
x.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,-0.902597,False,0.830779,False,-0.762495,False,-1.380644,0.340740,1.349249,-1.101971,-1.305750,-1.408949,-1.146784,0.391703,-0.784983,0.283103,1.462493,False,False,True
1,-0.495139,True,-1.253064,True,-0.992890,True,1.155024,0.687548,-0.120059,-0.664768,-0.645989,0.585778,1.704465,0.467317,1.114266,-0.635317,-0.734267,True,True,False
2,-1.537686,True,-1.253064,True,-0.532099,True,0.493546,1.381165,0.134244,0.209639,-0.645989,1.392684,1.074968,0.441498,-0.310171,-0.864922,-0.368140,True,True,False
3,-1.419319,True,1.198517,False,-0.992890,False,-1.215274,1.034357,-0.261339,0.646842,-0.151168,1.286750,1.236971,0.594569,0.876859,0.512708,-0.002014,True,False,False
4,1.325906,True,-0.395011,False,2.002254,True,0.658915,0.340740,0.021220,-1.101971,0.673534,1.268718,-0.091452,-0.657666,-1.022389,-0.864922,0.730240,True,True,False

In [139]:
x[['battery_power', 'clock_speed',  'fc',  'int_memory',  'm_dep',  'mobile_wt', 
   'n_cores',  'pc',  'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time']] = x[['battery_power', 'clock_speed',  'fc',  'int_memory',  'm_dep',  'mobile_wt', 
   'n_cores',  'pc',  'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time']] +10

In [140]:
x.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,9.097403,False,10.830779,False,9.237505,False,8.619356,10.340740,11.349249,8.898029,8.694250,8.591051,8.853216,10.391703,9.215017,10.283103,11.462493,False,False,True
1,9.504861,True,8.746936,True,9.007110,True,11.155024,10.687548,9.879941,9.335232,9.354011,10.585778,11.704465,10.467317,11.114266,9.364683,9.265733,True,True,False
2,8.462314,True,8.746936,True,9.467901,True,10.493546,11.381165,10.134244,10.209639,9.354011,11.392684,11.074968,10.441498,9.689829,9.135078,9.631860,True,True,False
3,8.580681,True,11.198517,False,9.007110,False,8.784726,11.034357,9.738661,10.646842,9.848832,11.286750,11.236971,10.594569,10.876859,10.512708,9.997986,True,False,False
4,11.325906,True,9.604989,False,12.002254,True,10.658915,10.340740,10.021220,8.898029,10.673534,11.268718,9.908548,9.342334,8.977611,9.135078,10.730240,True,True,False

In [141]:
features = x.columns
features

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [153]:
bestfeatures = SelectKBest(score_func = f_classif, k=10)
print(bestfeatures)

SelectKBest(k=10, score_func=<function f_classif at 0x0000025082218048>)

In [154]:
fit = bestfeatures.fit(x,y)

C:\Users\kalya\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [155]:
fit.get_support()

array([ True, False, False, False, False, False,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
       False, False])

In [156]:
col = fit.get_support()
new_features = []
for bool, feature in zip(col, features):
    if bool:
        new_features.append(feature)

new_features

['battery_power',
 'int_memory',
 'mobile_wt',
 'n_cores',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time']

In [157]:
data1 = pd.DataFrame(x, columns=new_features)

In [158]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
battery_power    2000 non-null float64
int_memory       2000 non-null float64
mobile_wt        2000 non-null float64
n_cores          2000 non-null float64
px_height        2000 non-null float64
px_width         2000 non-null float64
ram              2000 non-null float64
sc_h             2000 non-null float64
sc_w             2000 non-null float64
talk_time        2000 non-null float64
dtypes: float64(10)
memory usage: 156.3 KB

In [163]:
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(x.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']

print(featureScores.nlargest(10,'Score'))

            Specs        Score
13            ram  3520.110824
0   battery_power    31.598158
12       px_width    22.620882
11      px_height    19.484842
8       mobile_wt     3.594318
6      int_memory     2.922996
9         n_cores     2.625415
14           sc_h     2.225984
15           sc_w     1.671000
16      talk_time     1.628811

In [164]:
bestcols = featureScores.nlargest(10,'Score')['Specs']
bestcols

13              ram
0     battery_power
12         px_width
11        px_height
8         mobile_wt
6        int_memory
9           n_cores
14             sc_h
15             sc_w
16        talk_time
Name: Specs, dtype: object

In [165]:
datab = x[bestcols]

In [167]:
datab.head()

,ram,battery_power,px_width,px_height,mobile_wt,int_memory,n_cores,sc_h,sc_w,talk_time
0,10.391703,9.097403,8.853216,8.591051,11.349249,8.619356,8.898029,9.215017,10.283103,11.462493
1,10.467317,9.504861,11.704465,10.585778,9.879941,11.155024,9.335232,11.114266,9.364683,9.265733
2,10.441498,8.462314,11.074968,11.392684,10.134244,10.493546,10.209639,9.689829,9.135078,9.631860
3,10.594569,8.580681,11.236971,11.286750,9.738661,8.784726,10.646842,10.876859,10.512708,9.997986
4,9.342334,11.325906,9.908548,11.268718,10.021220,10.658915,8.898029,8.977611,9.135078,10.730240